In [1]:
import numpy as np
import pylab as pl
import pandas as pd

import ztf_tiling

In [2]:
skymapFile = '/Users/ghosh4/Downloads/2016_fits/288830/bayestar.fits.gz'
tileObj = ztf_tiling.RankedTileGenerator(skymapFile)

In [3]:
df = tileObj.createTilePriorityList(T_dur=1*3600, T_int_up=1200, T_int_low=600)

In [4]:
df

,program_id,field_id,filter_id,ra,dec,exposure_time,subprogram_name
0,2,311,1,67.4,-16.70769,1200.0,TOO_EMGW
1,2,361,1,74.6,-16.70769,868.0,TOO_EMGW
2,2,360,1,59.0,-9.78462,600.0,TOO_EMGW
3,2,312,1,66.05882,-9.78462,600.0,TOO_EMGW
4,2,411,1,59.0,-2.86154,600.0,TOO_EMGW

In [9]:
df.to_csv('example.csv', index = False)

In [10]:
df_read = pd.read_csv('example.csv')

In [11]:
df

,program_id,field_id,filter_id,ra,dec,exposure_time,subprogram_name
0,2,311,1,67.4,-16.70769,1200.0,TOO_EMGW
1,2,361,1,74.6,-16.70769,868.0,TOO_EMGW
2,2,360,1,59.0,-9.78462,600.0,TOO_EMGW
3,2,312,1,66.05882,-9.78462,600.0,TOO_EMGW
4,2,411,1,59.0,-2.86154,600.0,TOO_EMGW